
<div id="ManageDiv">
  <label><h3>Add new Book</h3></label>
  <form #form1="ngForm" (submit)="submitBook(form1)">
    <div>
        <div class="form-group row">
            <label class="control-label col-xs-2 inputLabel">Book Name</label>
            <div class="col-xs-2 inputStyle">
              <input #name="ngModel" required class="form-control" type="text" 
              name="name" [(ngModel)]="bookName.name">
              <div *ngIf="name.invalid && name.touched" class="alert alert-danger" role="alert">
                  Book Name is reuired...
                </div>
              </div>
          </div>

        <div class="form-group row">
            <label class="control-label col-xs-2 inputLabel">Abbrivation</label>
            <div class="col-xs-2 inputStyle">
              <input #abbreviation="ngModel" required class="form-control" type="text" 
              name="abbreviation" [(ngModel)]="bookName.abbreviation">
              <div *ngIf="abbreviation.invalid && abbreviation.touched" class="alert alert-danger" role="alert">
                  Abbrivation is reuired...
                </div>
              </div>
          </div>
        <div>
            <button type="submit" [disabled]="form1.invalid" class="btn btn-primary">submit</button>
        </div>
  </div>
  </form>
</div>

<div id="ManageDiv">
    <label><h3>Add Language</h3></label>
    <form #form2="ngForm" (submit)="submitLang(form2)">
      <div>
          <div class="form-group row">
            <label class="control-label col-xs-2 inputLabel">Language</label>
            <div class="col-xs-2 inputStyle">
                <input #name="ngModel" required class="form-control" type="text" 
                name="name" [(ngModel)]="language.name">
              <div *ngIf="name.invalid && name.touched" class="alert alert-danger" role="alert">
                  Language is reuired...
                </div>
              </div>
          </div>
          <div>
              <button type="submit" [disabled]="form2.invalid" class="btn btn-primary">submit</button>
          </div>
      </div>
    </form>
</div>

<div id="ManageDiv">
    <label><h3>Add Type</h3></label>
    <form #form3="ngForm" (submit)="submitType(form3)">
      <div>
          <div class="form-group row">
            <label class="control-label col-xs-2 inputLabel">Type</label>
            <div class="col-xs-2 inputStyle">
              <input #name="ngModel" required class="form-control" type="text" 
              name="name" [(ngModel)]="type.name">
              <div *ngIf="name.invalid && name.touched" class="alert alert-danger" role="alert">
                  Type is reuired...
                </div>
              </div>
          </div>
          <div>
              <button type="submit" [disabled]="form3.invalid" class="btn btn-primary">submit</button>
          </div>
      </div>
    </form>
</div>


 


