{{FormDateTitle}}
<mat-form-field>
  <input matInput formControlName="fromSelect" [matDatepicker]="picker1" placeholder="{{FormDateTitle}}" (dateChange)="onDateChange('fromDateSelect', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
{{ToDateTitle}}
<mat-form-field>
  <input matInput formControlName="toSelect" [matDatepicker]="picker2" placeholder="{{ToDateTitle}}" (dateChange)="onDateChange('toDateSelect', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>