
<div id="newChallanDiv">
<form  #NewChallanForm="ngForm" novalidate  (ngSubmit)="CreatNewChallan()">
    <div class="form-group row has-error" [class.has-error]="userSelectError">
        <div id="selectLbl" class="col-xs-4">
              <label class="control-label" for="exampleFormControlSelect1">Issued To <i class="fas fa-user"></i>:</label>
        </div>
        <div id="selectDiv" class="col-sm-4" >
              <select class="form-control" id="exampleFormControlSelect1"
               name="IssuedToUserID" [(ngModel)]="IssuedToUserID" (blur)="ValidateUser()"
               (change)="ValidateUser()">
                  <option value="default">Select a User ...</option>
                  <option *ngFor="let user of userlist | orderBy: order name" [value]="user.id">{{user.name}}</option>
              </select>
              <div *ngIf="userSelectError" class="alert alert-danger justify-content-center" role="alert">
                 Please select a User
             </div>
        </div>
    </div>
    <button class="btn btn-primary" [disabled]="userSelectError || NewChallanForm.pristine" type="submit">Submit</button>

  </form>
