<mdb-card>
  <mdb-card-body>
      <div id="ManageDiv">
          <label><h3>Add new Book</h3></label>
      </div>
    <app-three-select [mode]="threeSelectMode" (threeSelected)=afterSelect($event)></app-three-select>

     <div>
        <form novalidate #AddNewBook="ngForm" (submit)="addNewBook()">
             <div class="form-group row">
                <label class="control-label col-sm-3 inputLabel" for="bookPrice">  Book Price :</label>
                     <div class="col-xs-2 inputStyle" >
                            <input class="form-control" type="number"  id="bookPrice" required  name="bookPrice"
                            #bookPriceInput="ngModel"
                            [(ngModel)]="bookPrice"  (input)="validatePrice()"
                            [disabled]="!bookDoesNotSelected"
                             >
                           <div *ngIf="bookPriceError && bookPriceInput.dirty" class="alert alert-danger justify-content-center" role="alert">
                              Price should be positive number.
                          </div>
                     </div>
            </div>
            <!-- <div class=" form-group row">
                    <label class="control-label col-sm-3 inputLabel" for="inventryStockInput">Inventry Stock :</label>
                    <div class="col-xs-2 inputStyle" >
                        <input class="form-control" type="number"  id="inventryStockInput" required  name="inventryStockInput"
                        #bookInventryStockInput="ngModel"
                        [(ngModel)]="inventryStock" readonly
                        >
                     </div>
            </div> -->
            
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-xs-2 col-sm-offset-3 inputStyle">
                    <button type="submit" [disabled]="AddNewBook.invalid || bookPriceError" 
                        class="btn btn-primary waves-effect waves-light">Add Book
                        <i class="fas fa-save"></i> </button>
                </div>
            </div>
        </form>
     </div> 

  </mdb-card-body>
</mdb-card>

<mdb-card>
  <mdb-card-body>
    <div class="table-responsive">
<table  mdbTable mdbTableScroll scrollY="true" maxHeight="500" bordered="true" class="table table-hover table-sm">
<thead class="thead-light">
<th scope="col" >#</th>
<th scope="col" ><i class="fas fa-book-open"></i>Name</th>
<th scope="col" ><i></i>Language</th>
<th scope="col" ><i></i>Type</th>
<th scope="col" ><i></i>Price</th>
<th scope="col" ><i></i>Abbreviation</th>
</thead>
<tbody>
<tr *ngFor="let Book of bookList ; let i=index">
  <td>
      {{i+1}}
  </td>
 <td>
    {{Book.name.name}}
</td>
<td>
  {{Book.languages.name}}
</td>
<td>
  {{Book.type.name}}
</td>
<td>
  {{Book.price}}
</td>
<td>
  {{Book.abbreviation}}
</td>
</tr>
</tbody>
</table>
</div>
  </mdb-card-body>
</mdb-card>
