<mdb-card>
  <mdb-card-header>
    <button mdbBtn  color="primary" class="waves-light" type="button" (click)="test.toggle()" mdbWavesEffect>
      Add Book
    </button>
  </mdb-card-header>
  <mdb-card-body>

    <div class="" mdbCollapse #test="bs-collapse">
      <div id="ManageDiv">
        <label>
          <h3>Add Book</h3>
        </label>
        <app-three-select #threeSelect [reset]="resetThreeSelect" [mode]="threeSelectMode" (threeSelected)=afterSelect($event)></app-three-select>
        <div *ngIf="addNewBook">
          <form novalidate #AddNewBook="ngForm" (submit)="saveNewBook()">
            <div class="form-group row">
              <label class="control-label col-sm-3 inputLabel" for="bookPrice">Book Price :</label>
              <div class="col-xs-2 inputStyle">
                <input class="form-control" type="number" id="bookPrice" required name="bookPrice" #bookRateInput="ngModel"
                  [(ngModel)]="bookPrice" (input)="validatePrice()">
                <div *ngIf="bookPriceError" class="alert alert-danger justify-content-center" role="alert">
                  Price should be positive number.
                </div>
              </div>
            </div>
            <div class=" form-group row">
              <label class="control-label col-sm-3 inputLabel" for="abbreviation">Abbrevation :</label>
              <div class="col-xs-2 inputStyle">
                <input class="form-control" type="text" id="abbreviation" required name="abbreviation"
                  #bookInventryStockInput="ngModel" [(ngModel)]="bookAbbreviation">
                <div *ngIf="bookAbbreviationError" class="alert alert-danger justify-content-center" role="alert">
                  please Enter Book Abbreviation
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-xs-2 col-sm-offset-3 inputStyle">
                  <button type="submit" [disabled]="AddNewBook.invalid || bookPriceError || bookAbbreviationError" 
                      class="btn btn-primary waves-effect waves-light">Save
                      <i class="fas fa-save"></i> </button>
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>



<mdb-card>
  <mdb-card-body>
    <div class="table-responsive">
      <table mdbTable mdbTableScroll scrollY="true" maxHeight="500" bordered="true" class="table table-hover table-sm">
        <thead class="thead-light">
          <th scope="col">#</th>
          <th scope="col"><i class="fas fa-book-open"></i>Name</th>
          <th scope="col"><i></i>Language</th>
          <th scope="col"><i></i>Type</th>
          <th scope="col"><i></i>Price</th>
          <th scope="col"><i></i>Abbreviation</th>
        </thead>
        <tbody>
          <tr *ngFor="let Book of bookList ; let i=index">
            <td>
              {{i+1}}
            </td>
            <td>
              {{Book.name.name}}
            </td>
            <td>
              {{Book.languages.name}}
            </td>
            <td>
              {{Book.type.name}}
            </td>
            <td>
              {{Book.price}}
            </td>
            <td>
              {{Book.abbreviation}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mdb-card-body>
</mdb-card>