<a [routerLink] = "['new']"><button class="btn btn-primary" > <i class="fas fa-plus-square"></i> Create New Challan</button></a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
  
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <form [formGroup]="searchForm">
          <p>
            {{searchForm.value | json}}
           
        </p>
        <pre>{{userList | json}}</pre>
        <div >
            <pre *ngFor="let user of userlist" >{{user |json}}</pre>
            </div>
        <label>
            Challan Id:
            <input type="number" formControlName="challanID">
          </label> 
          <div class="form-group form-check" [hidden]="!searchForm.controls.issuedByMe">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="issuedByMe">
            <label class="form-check-label" for="exampleCheck1">Issued by Me</label>
          </div>      
          <div class="form-group" [hidden]="!searchForm.controls.issuedBy">
            <label for="exampleFormControlSelect1">Issued By</label>
            <select class="form-control" id="exampleFormControlSelect1" formControlName="issuedBy">
                    <option value="default">Select a User ...</option>
                    <option *ngFor="let user of userlist" [value]="user.id">{{user.name}}</option>
            </select>
          </div>
          <div class="form-group" [hidden]="!searchForm.controls.issuedTo">
            <label for="exampleFormControlSelect1">Issued To</label>
            <select class="form-control" id="exampleFormControlSelect1" formControlName="issuedTo">
                    <option value="default">Select a User ...</option>
                    <option *ngFor="let user of userlist" [value]="user.id">{{user.name}}</option>
            </select>
          </div>  
          <div class="form-group" [hidden]="!searchForm.controls.challanStatus">
            <label for="exampleFormControlSelect1">Challan Status</label>
            <select class="form-control" id="exampleFormControlSelect1" formControlName="challanStatus">
              <option>All</option>
              <option>Settled</option>
              <option>Pending</option>
            </select>
          </div>
      </form>
      <button class="btn btn-primary" type="button"aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
        <button class="btn btn-primary" type="button"aria-expanded="false" aria-controls="collapseExample"> Close</button>
    </div>
    
  </div>
<app-challans [challanList]="challanList" ></app-challans>
