<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="fa fa-book"></i> 
    BDM
  </a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  

  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <a  routerLink="/home" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }" class="nav-link" > <i class="fa fa-home"></i> Home</a>
      </li>

      <li class="nav-item" *ngIf="!isLoggedIn">
        <a  routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link"> <i class="fas fa-sign-in-alt"></i> Login</a>
      </li>
      

      <ng-container *ngIf="isAdmin()" style="display:inline;">
          <li class="nav-item">
              <a class="nav-link" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> <i class="fa fa-user"></i> Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/challans" routerLinkActive="active" > <i class="fas fa-clipboard-list"></i> challans</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="admin/inventry" routerLinkActive="active" > <i class="fas fa-clipboard-list"></i> Inventry</a>
            </li>
      </ng-container>
      
      <ng-container *ngIf="isUser()">
        <li class="nav-item" >
          <a class="nav-link" routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">User</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/user/challans" routerLinkActive="active"> <i class="fas fa-clipboard-list"></i> challans</a>
        </li>
      </ng-container>

    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Log out
      </a>
    </li>
      


    </ul>
  </div>
</nav>
