<a [routerLink]="['/admin/challans/edit', challan.id]" *ngIf="roles.includes('ADMIN') && challan && challan.settled==0" ><button  class="btn btn-primary pull-right"><i class="fas fa-edit" ></i> Edit</button></a>
<button *ngIf="challan" class="btn btn-primary pull-right" (click)="print()"> <i class="fas fa-file-pdf"></i> print</button>

<app-challan-summary [challan]="challan" (getSumOf)="getSum($event)"></app-challan-summary>
  <div *ngIf="challan?.cbDetailses.length ==0" class="alert alert-warning">
      <h4>No Books Issued</h4>
  </div>


  <table id="cbDetailses" class="table table-bordered table-sm table-responsive-lg" *ngIf="challan && challan.cbDetailses.length > 0 ">
      <caption style="caption-side: top;" class="alert alert-secondary" role="alert">List of Issued Books</caption>
      <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Book Name</th>
            <th scope="col">Language</th>
            <th scope="col">Type</th>
            <th scope="col">Rate</th>
            <th scope="col">Issued</th>
            <th scope="col">Returned</th>
            <th scope="col">Sale Value</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let Book of challan.cbDetailses | orderBy: 'id' ; let i=index">
          <td>{{i+1}}</td>
          <td>{{Book.book.name.name}} </td>
          <td>{{Book.book.languages.name}} </td>
          <td>{{Book.book.type.name}} </td>
          <td> {{Book.rate | currency:'INR': 'Rs '}} </td>
          <td>{{Book.quantity}} </td>
          <td *ngIf="Book.returned">{{Book.returned}} </td> <td *ngIf="!Book.returned"> 0 </td>
          <td >  {{Book.saleValue | currency:'INR': 'Rs '}} </td>
        </tr>
      </tbody>
      <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>
            <td>{{getSum('quantity')}}</td>
            <td>{{getSum('returned')}}</td>
            <td>{{getSum('saleValue') | currency:'INR': 'Rs '}}</td>
          </tr>
        </tfoot>

  </table>
