<table class="table table-bordered " *ngIf="challan">
    <tbody>
      <tr>
        <td scope="row">Challan Id</td>
        <td>{{challan.id}}</td>
      </tr>
      <tr>
        <td>Essuid By   <i class="fas fa-user-tie"></i></td>
        <td>{{challan.userByIssuedBy.name}}</td>
        <td>Essuid To  <i class="fas fa-user"></i></td>
        <td>{{challan.userByIssuedTo.name}}</td>
      </tr>
      <tr>
        <td>Issued Date </td>
        <td>{{challan.issuedDate | date: 'MMM d, y'}}</td>
        <td>Settelled Date </td>
        <td *ngIf="challan.settled == 1" >{{challan.settledDate | date: 'MMM d, y'}}</td>
        <td *ngIf="challan.settled == 0" >Not Yet Settelled</td>
      </tr>
      <tr>
        <td>Total Ammount</td>
        <td *ngIf="challan.totalAmount">{{challan.totalAmount}}</td> <td *ngIf="!challan.totalAmount"> --- </td>
        <td>Recieved Ammount</td>
        <td *ngIf="challan.receivedAmount">{{challan.totalAmount}}</td><td *ngIf="!challan.receivedAmount"> --- </td>
      </tr>
      <tr *ngIf="challan.expAmount || challan.expComment">
        <td *ngIf="challan.expAmount">Expenditure Ammount</td>
        <td *ngIf="challan.expAmount"> {{challan.expAmount}}</td>
        <td *ngIf="challan.expComment">Expenditure Details</td>
        <td *ngIf="challan.expComment"> {{challan.expComment}}</td>
      </tr>

    </tbody>
  </table>

  <div *ngIf=" challan && challan.cbDetailses.length ==0; else bookdatailsTable" class="alert alert-warning">
      <h4>No Books Issued</h4>
  </div>
<ng-template #bookdatailsTable>
  <table class="table table-bordered table-sm table-responsive-lg" *ngIf="challan && challan.cbDetailses.length > 0 ">
      <caption style="caption-side: top;">List of Issued Books</caption>
      <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"><i class="fas fa-cogs"></i> Action</th>
            <th scope="col">Book Name</th>
            <th scope="col">Language</th>
            <th scope="col">Type</th>
            <th scope="col">Rate</th>
            <th scope="col">Issued</th>
            <th scope="col">Returned</th>
            <th scope="col">Sale Value</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let CbDetails of challan.cbDetailses; let i=index">
          <td>{{i+1}}</td>
          <td>
              <div class="btn-group">
              <button (click)="loadModalCbDetails(CbDetails)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalPoll-1"><i class="fas fa-edit"></i></button>
            </div>
            </td>
          <td>{{CbDetails.book.name.name}} </td>
          <td>{{CbDetails.book.languages.name}} </td>
          <td>{{CbDetails.book.type.name}} </td>
          <td>{{CbDetails.rate | currency:'INR' }} </td>
          <td>{{CbDetails.quantity}} </td>
          <td *ngIf="CbDetails.returned">{{CbDetails.returned}} </td> <td *ngIf="!CbDetails.returned"> 0 </td>
          <td >{{CbDetails.saleValue | currency:'INR'}} </td>
        </tr>
      </tbody>
      <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>
            <td>{{getSum('quantity')}}</td>
            <td>{{getSum('returned')}}</td>
            <td>{{getSum('saleValue') | currency:'INR' }}</td>
          </tr>
        </tfoot>

  </table>


<!-- Modal: modalPoll -->
<div class="modal fade top" id="modalPoll-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-lg modal-top modal-notify modal-info" role="document">
    <app-add-update-challan [cbDetails]="modalBook" mode="'UPDATE'"></app-add-update-challan>
  </div>
</div>
<!-- Modal: modalPoll -->

</ng-template>
