<ul class="cbp-ig-grid">
    <li>
        <a routerLink="/admin/challans" routerLinkActive="active">
            <span class="fas fa-clipboard-list fa-10x"></span>
            <h3 class="cbp-ig-title">Challans</h3>
            <!-- <span class="cbp-ig-category">Fashion</span> -->

        </a>
    </li>
    <li>
        <a routerLink="/admin/reports" routerLinkActive="active" >
            <span class="fas fa-chart-pie fa-10x"></span>
            <h3 class="cbp-ig-title">Reports</h3>
            <!-- <span class="cbp-ig-category">Design</span> -->
        </a>
    </li>
     <li>
            <a [routerLink]="['/admin/inventry/stock']">
                <span class="fas fas fa-cubes fa-10x"></span>
                <h3 class="cbp-ig-title">Stock</h3>
                <!-- <span class="cbp-ig-category">Fashion</span> -->
            </a>
        </li>
        
     <!--   <li><i class="fas fa-chart-pie"></i>
                <a [routerLink]="['/admin/inventry/inwardRegister']">
                    <span class="fas fa-notes-medical fa-10x"></span>
                    <h3 class="cbp-ig-title">Inward Register</h3>
                    <span class="cbp-ig-category">Fashion</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin/inventry/bookRequests']">
                    <span class="fas fa-plus-square fa-10x"></span>
                    <h3 class="cbp-ig-title">Request new Book</h3>
                    <span class="cbp-ig-category">Design</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin/users" routerLinkActive="active">
                    <span class="fas fa-users fa-10x"></span>
                    <h3 class="cbp-ig-title">Users</h3>
                    <span class="cbp-ig-category">Design</span>
                </a>
            </li> -->
</ul>