
<form  #NewChallanForm="ngForm" novalidate>
  <div class="form-group row">
      <div class="col-sm-3 selectLabel">
            <label class="control-label" for="bookNameSelect">Book Name :</label>
      </div>
      <div class="col-sm-4 selectInput" >
            <select class="form-control" id="bookNameSelect"
            #bookNameSelect="ngModel"
             name="IssuedToUserID" [(ngModel)]="bookNameId"
             (change)="validateBookName()">
                <option value="default">Select a Book Name ...</option>
                <option *ngFor="let bookName of bookNames" [value]="bookName.id">{{bookName.name }}</option>
            </select>
            <div *ngIf="nameSelectError" class="alert alert-danger justify-content-center" role="alert">
               Please select Book Name
           </div>
      </div>
  </div>

  <div class="form-group row">
      <div class="col-sm-3 selectLabel">
            <label class="control-label" for="bookLanguageSelect">Book Language :</label>
      </div>
      <div class="col-sm-4 selectInput" >
            <select #bookLanguageSelect="ngModel" class="form-control" id="bookLanguageSelect"
            name="bookLanguageSelect" [(ngModel)]="languageId"
            (change)="validateLanguage()"
            [disabled]="bookNameSelect.pristine || nameSelectError || bookLanguages?.length < 1">
                <option value="default">Select a Book Language ...</option>
                <option *ngFor="let language of bookLanguages" [value]="language.id">{{language.name }}</option>
            </select>
            <div *ngIf="languageError" class="alert alert-danger justify-content-center" role="alert">
              Please select Book Language
          </div>
      </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3 selectLabel">
          <label class="control-label" for="bookLanguageSelect">Book Type :</label>
    </div>
    <div class="col-sm-4 selectInput" >
          <select #bookTypeSelect="ngModel" class="form-control" id="bookTypeSelect"
          name="bookTypeSelect" [(ngModel)]="typeId"
          (change)="validateType()"
          [disabled]="bookLanguageSelect.pristine || languageError || languageId=== 'default'|| bookTypes?.length < 1">
              <option value="default">Select a Book Type ...</option>
              <option *ngFor="let Type of bookTypes" [value]="Type.id">{{Type.name }}</option>
          </select>
          <div *ngIf="typeError" class="alert alert-danger justify-content-center" role="alert">
            Please select Book Type
        </div>
    </div>
  </div>
</form>